html,
body {
  height: 100%;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clearfix {
  position: relative;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
#__next {
  height: 100%;
}

.index-page-wrap {
  height: 100%;
}
.main-page-wrap {
  .date-nav-wrap {
    width: 200px;
    float: left;
    .date-nav-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #dfdfdf;
      .ant-picker,
      .ant-btn {
        position: relative;
        &:hover {
          z-index: 2;
        }
      }
      .ant-picker-focused {
        z-index: 2;
      }
    }
    .day-item {
      border: solid 1px #d9d9d9;
      border-top: none;
      &:first-child {
        border-top: solid 1px #d9d9d9;
      }
    }
  }

  .member-attendance-wrap {
    width: calc(100% - 200px);
    float: left;
    white-space: nowrap;
    overflow-x: auto;
    .member-attendance-box {
      width: 200px;
      display: inline-block;
      vertical-align: top;
      .header-item {
        border: solid 1px #d9d9d9;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .attendance-item {
        border-bottom: solid 1px #d9d9d9;
        border-right: solid 1px #d9d9d9;
        .hour {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            margin-top: -8px;
            width: 1px;
            height: 16px;
            background: #d9d9d9;
          }
        }
      }
      .time-box {
        padding: 0 5px;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        font-size: 14px;
        input {
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          color: inherit;
          font-size: inherit;
        }
      }
    }
  }

  .header-height {
    height: 40px;
    box-sizing: border-box;
  }
  .item-height {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
  }
  .day-type-6 {
    color: #2196f3;
    .ant-picker-input > input {
      color: #2196f3;
    }
  }
  .day-type-0 {
    color: #f44338;
    .ant-picker-input > input {
      color: #f44338;
    }
  }
}
