{
  "plugins": ["inline-react-svg", ["inline-import", { "extensions": [".css"] }], ["import", { "libraryName": "antd" }]],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "ie": "11"
          }
        },
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "ignore": []
}
